* {
    transition: all .3s ease-in-out;
    font-family: "Poppins";
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: linear-gradient(#654089, #dfb7fe);

    background-repeat: no-repeat;
    object-fit: contain;
    
    height: 100vh;
}

main {
    background-color: rgba(254,254,255,255);
    transform: translate(-50%, -50%);
    
    border-radius: 30px;
    padding: 2cqw 2cqw;
    height: 85vh;
    width: 50vw;
    left: 50%;
    top: 50%;

    position: absolute;
    
    nav {        
        justify-content: space-between;
        display: flex;

        h1 {
            cursor: default;
        }

        .nav-buttons {
            display: flex;
            width: 9cqw;
            gap: .5cqw;            
        }

        .username {
            height: max-content;
            margin: auto 0;
        }
    }
}

.text-accent {
    background-image: linear-gradient(170deg, #654089, #dfb7fe);
    
    -webkit-background-clip: text;
    width: max-content;
    color: transparent;

    font-family: "header";

    font-size: 4cqh;
}

.button-item {
    background-color: #654089;
    border-radius: 100%;
    padding: 3%;
    width: 1.2cqw;
    
    cursor: pointer;
    margin: auto 0;
    display: flex;
    height: auto;
}

.button-item:hover {
    background-color: #dfb7fe;
    transform: scale(1.1);
}

.supporting-text {
    text-transform: uppercase;
    text-wrap: nowrap;
    
    letter-spacing: 2px;
    font-weight: 600;
    font-size: .8cqw;
    color: #654089;
}

article {
    background-image: linear-gradient(90deg, #654089, #dfb7fe);
    
    justify-content: space-between;
    display: flex;

    border-radius: 15px;
    padding: 5% 10%;
    height: 30vh;
    width: 80%;

    .text-place {
        flex-direction: column;
        justify-content: center;
        display: flex;

        max-width: 15cqw;
        gap: 1cqh;
        
        h1 {
            text-transform: none;
            
            font-size: 2.5cqw;
            color: #fefeff;
        }
        p {
            color: #fefeff;
            font-size: .7cqw;
        }
    }
}

.first-heart {
    position: absolute;
    right: 15cqw;
    height: 4cqw;
    opacity: .15;
    top: 10cqh;
}

.second-heart {
    position: absolute;
    opacity: .15;
    height: 2cqw;
    left: 15cqw;
    top: 30cqh;
}

.hero-banner-image {
    height: auto;
    scale: 1.4;
    z-index: 1;
}

.text-layer {
    text-shadow: 1px 1px 5px black;
    z-index: 2;
}

footer {
    display: flex;

    gap: 1cqw;
    
    section {
        flex-direction: column;
        display: flex;

        width: 13cqw;
        padding-top: 2cqh;

        .pfp {
            border-radius: 100%;
            width: 4cqw;
        }

        p {
            font-size: 1.5cqh;
        }
    }
}

.social-button {
    font-family: "Poppins";

    background-image: linear-gradient(90deg, #654089, #dfb7fe);
    justify-content: space-between;
    text-transform: uppercase;
    border: transparent;
    cursor: pointer;
    display: flex;

    
    text-shadow: 1px 1px 5px black;
    letter-spacing: .3cqw;
    padding: .7cqw 1.2cqw;
    border-radius: 20px;
    font-weight: 400;
    font-size: .5cqw;
    color: #fefeff;
}

.social-button:hover {
    opacity: .8;
}

#buttons {
    flex-direction: column;
    display: flex;

    gap: .5cqw;
}

.footer-img {
height: 90%;
}